[submodule "include/native/directx"]
	path = include/native/directx
	url = https://github.com/Joshua-Ashton/mingw-directx-headers
[submodule "include/vulkan"]
	path = include/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
